{% extends '::base.html.twig' %}

{% block body %}
<div class="layout-home-column well">
    <h2 class="app-news-title">{{ ('News') | trans }}</h2>
    {% render 'KitpagesCmsBundle:Zone:widget' with {
        'slug': languageManager.currentLanguage|default('en') ~ '-news',
        'renderer':'news_list',
        'blockDisplayCount':5,
        'authorizedBlockTemplateList':['news']
    } %}
   <div class="app-block-bottom-link">
      <a class="standard-link" href="{{ path('news') }}">&gt; {{ ('See the news') | trans }}</a>
   </div>
</div>
<div class="layout-home-edito">
    <div class="democms-help">
Welcome to the demo of the Kitpages CMS. All the content of this website is reinitialized every hour.<br/>
<br/>
You can change the content of this website by signing in with the account : 
<ul><li>Login : "admin"</li><li>password: "admin"</li></ul>
You can also see a <a href="http://www.kitpages.fr/fr/kitpages-cms-bundle-symfony2" target="_blank">4 minutes video presentation in french on kitpages.fr</a> <br/>
The Kitpages CMS is developped and distributed in opensource as a symfony2 bundle : <a href="https://github.com/kitpages/KitpagesCmsBundle" target="_blank">KitpagesCmsBundle on Github</a>
    </div>
    {% render 'KitpagesCmsBundle:Page:widgetZone' with {'location_in_page': 'edito', 'page':kitCmsPage} %}
</div>

<div style="clear: both;"></div>
<br/>



<div style="clear:both;"></div>
{% endblock body %}
